<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advice #<%= adNo %></title>
    <link rel="stylesheet" href="css/styles.css">

    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&family=Oxygen:wght@700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="main">
        <p class="title">ADVICE #<%= adNo %></p>
        <p class="content"> "<%= adContent %>" </p>
    </div>
    <div class="dice">
        <div class="icon">
            <img src="images/dice.png" alt="">
        </div>
    </div>
</body>
<footer>
    <p>Made with ❤️ by <a href="https://github.com/Akhileshgautam1903" target="_blank">Akhilesh</a>.</p>
</footer>
</html>