<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advice #<%= adNo %></title>
</head>
<body>
    <div class="main">
        <p>ADVICE #<%= adNo %></p>
        <p> <%= adContent %> </p>
    </div>
</body>
</html>